<h1 class ="new_recipe",style="text-align: center; margin: 40px;">New Ingredient</h1>

<%= form_with model: [@recipe, @food], url: create_ingredient_path do |form| %>
<div class="form-container">
  <%= form.label :name, class: 'form-label' %>
  <%= form.text_field :name, class: 'form-input' %>

  <%= form.label :measurement, class: 'form-label' %>
  <%= form.text_field :measurement, class: 'form-input' %>

  <%= form.label :price, class: 'form-label' %>
  <%= form.text_field :price, class: 'form-input' %>

  <div>
    <%= form.fields_for :recipe_foods do |recipe_food| %>
      <%= recipe_food.label :recipe_quantity, class: 'form-label' %><br>
      <%= recipe_food.number_field :quantity, class: 'form-input' %>
    <% end %>  
  </div>

  <%= form.submit 'Submit', class: 'form-submit' %>
</div>
<% end %>