<p style="color: green"><%= notice %></p>

<div class="recipe_containers">
    <h2 class="recipe_title">
      <%= @recipe.name %>
    </h2>
</div>
<div class ="borders">
<div class ="container">
<div class="recipe_info">
      <p>Preparation time: <%= @recipe.preparation_time %> minutes<p>
      <p>Cooking time: <%= @recipe.cooking_time %> minutes</p>
      <p>Steps go here...: <%= @recipe.description %></p>
</div>
<div class="check">
  <%= button_to edit_recipe_path(@recipe), method: :get, class: 'btn-toggle-public', style: (@recipe.public? ? 'background-color: green;' : 'background-color: red;') do %>
    <% if @recipe.public? %>
     Public
    <% else %>
     Private
    <% end %>
  <% end %>
</div>
</div>

<div class="recipe_contr">
<%= link_to "Generate shopping list", general_shopping_list_path, class: "btn-generate", method: :get %>
<%= link_to "Add ingredients", new_ingredient_path(@recipe), class: "btn-add_new_recipe", method: :get  %>
</div>

<% if @ingredients.empty? %>
        <p class="no_item">No Ingredients Found! Please Add a new one.</p>
    
    <% else %>
    <div class ="table_border">
      <table class="paleBlueRows recipe_table">
  <thead>
    <tr>
      <th>Food</th>
      <th>Quantity</th>
      <th>Value</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @ingredients.each do |recipe_food| %>
      <tr>
        <td><%= recipe_food.food.name %></td>
        <td><%= recipe_food.quantity %></td>
        <td><%= recipe_food.food.price  %> $</td>
        <td>
          <div>
            <button>Edit</button>
            <button>Delete</button>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
</div>
  <% end %>
