<section class="food">
  <div>
    <%= link_to "Add Food", new_food_path, class: "add-btn" %>
  </div>
  <div class="food-container">
    <table class="styled-table">
      <thead>
        <tr>
          <th>Food</th>
          <th>Measurement Unit</th>
          <th>Price</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody>
        <% @foods.each do |food| %>
        <tr>
          <th><%= food.name %></th>
          <td><%= food.measurement %></td>
          <td><%= number_to_currency(food.price) %></td>
          <td>
            <%= button_to "Delete", food_path(food), class: "delete-btn", method: :delete, data: { confirm: "Are you sure about delete #{food.name}?" } %>
          </td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</section>